body{
  background-color: #0D0D0D;
}

.App{
 display: flex;
 flex-direction: column;
 justify-content: end;
 height: 100vh;
 align-items: center;
}


.input-container{
 margin: 20px;
 height: 5vh;
 
}
.input-container input{

 width: 360px;
 height: 100%;
  background-color: #2d3436; 
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: wheat;
 border: 2px solid black;
 border-radius: 230px;
 line-height: 3.5em;
 font-size: large;
 padding-left: 30px;
 padding-right: 30px;

 
}

.input-container input:focus{
 outline: none;
}

.fas{
 margin: 5px;
 color: #b2bec3;
 font-size: 25px;
 
}


@media screen and (max-width:550px){
 .input-container input{
   width: 250px;
 }
}

@media screen and (max-width:450px){
 .input-container input{
   width: 150px;
 }
}